// for styleguide
.colorbox{ display: inline-block; margin:10px; width: 100px; height: 100px;}
.colorbox.color-darkgreen{ background-color: $color-darkgreen }
.colorbox.color-green{ background-color: $color-green }

button{
    cursor: pointer;
    &.button--primary{
        background-color: $color-darkgreen;
        color:#ffffff;
        border:none;
        border-radius: 25px;
        padding:12px 25px;
    }
}