$color-red: #ee1e11;
$color-cream:#fffeed;
$color-darkest-gray:#2f2f2f;
$color-dark-gray:#474747;
$color-gray:#8c8c8c;

$font-regular: 'recoletaregular';
$font-medium: 'recoletamedium';
$font-semi-bold: 'recoletasemibold';
$font-bold: 'recoletabold';

@import 'base';
@import 'layout';
@import 'module';